*{
    padding:0;
    margin: 0;
    font-family: sans-serif ;
}
.body{
  background-color: rgb(242, 242, 242);
  margin: 250px 600px;  
}

.container{
    background-color: white;
    width: 282px;
    height: 300px;
    padding: 50px 55px 30px;
    box-shadow:5px 15px 100px grey;  
}
.logo_bell{
    width: 70px;
    height: 70px;
}
.title{
    padding-bottom: 10px;
    font-weight: 800;
}
.text{
    padding-bottom: 15px;
}
.log{
    padding-bottom: 20px;
}
.button{
    color: white;
    background: linear-gradient(to bottom left, blue, white);
    border: none;
    width: 130px;
    height: 40px;
    border-radius: 0.5em;
    box-shadow:5px 5px 25px grey ;
}


